<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function myMethod() {
            var obj = new Object();
            $.ajax({
               type: "POST",
               url: "exam13_02",
               contentType: "application/json",
               success: function (data) {
               },
               error: function (jqXHR, textStatus, errorThrown) {
               } 
            });
        }
    </script>
</head>
<body>
        <p>이름: <input name="name"></p>
        <p>나이: <input name="age"></p>
        <p>이메일: <input name="email"></p>
        <p><input type="button" value="전송" onclick="myMethod()"></p>
    </form>
</body>
</html>